* {
  margin: 0;
  padding: 0;
}

main {
  background: linear-gradient(to top, rgb(78, 54, 106), rgb(65, 79, 119));
  display: grid;
  grid-template-areas:
    'topbar topbar topbar'
    'content content sidebar';
  grid-template-columns: 1fr 3fr 1fr;
  /* grid-template-rows: 4px auto 74px; */
  grid-template-rows: 51px auto 8px;
  height: 100vh;
  font-family: system-ui;
}

@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 0 1fr 0;
  }

  aside {
    display: none;
  }
  nav {
    display: none;
  }
}

header {
  border: 1px solid #614385;
  grid-area: topbar;
  background-color: #614385;
  display: flex;

  -webkit-box-shadow: 3px 3px 5px 6px #303436;
  -moz-box-shadow: 3px 3px 5px 6px #303436;
  box-shadow: 3px 3px 5px 2px #303436;
}
header > ul {
  display: flex;
  flex: 0.3;
}
header > h2 {
  flex: 0.7;
  margin: 10px;
  color: white;
}
header > ul > li {
  color: white;
  margin: 16px;
  display: flex;
}

aside::-webkit-scrollbar {
  display: none;
}
article {
  display: flex;
  grid-area: content;
  border-radius: 24px;
  margin: 10px;
}
nav {
  border: 2px solid white;

  border-radius: 24px;
  margin: 10px;

  grid-area: sidebar;
}
footer {
  border: 2px solid #614385;
  justify-content: center;
  align-content: space-evenly;
  grid-area: footer;
}

.article1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff42;
  flex: 0.3;
  margin: 20px;
  border-radius: 24px;
  overflow-y: scroll;
  height: 71vh;
  padding: 9px;
}

.article1::-webkit-scrollbar {
  display: none;
}

.article2 {
  border-left: 2px solid #ffffff42;
  border-right: 2px solid #ffffff42;
  flex: 0.7;
  margin: 0px -10px 0px 0px;
  margin-left: 0px;
  overflow-y: scroll;
  height: 85.5vh;
  padding: 10px;
}
.article2::-webkit-scrollbar {
  display: none;
}

.video1 {
  height: 28vh;
  margin: 5px 10px;
  border-radius: 24px;
  margin: 15px;
  /* border: 1px solid white; */
  -webkit-box-shadow: 3px 3px 5px 6px #303436;
  -moz-box-shadow: 3px 3px 5px 6px #303436;
  box-shadow: 3px 0px 16px 0px #3034;
}

.leftVideos {
  height: 6vh;
  margin: 5px 10px;
  border-radius: 27px;
}

.middleContent {
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin: 5px 10px;

  -webkit-box-shadow: 3px 3px 5px 6px #303436;
  -moz-box-shadow: 3px 3px 5px 6px #303436;
  box-shadow: 3px 0px 16px 0px #3034;
  border-radius: 24px;
  /* border-bottom: 1px solid white;*/
}

.avatarLogo {
  margin: 6px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatarLogoRight {
  margin: 6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.profile {
  flex: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ffffff42;
}
.profile > h4 {
  color: white;
  flex: 0.98;
}
.points {
  width: 20px;
  height: 5px;
  padding: 10px;
}

.postContent {
  border: 1px solid white;
  flex: 0.8;
  margin: 10px;
  border-radius: 24px;
  margin-left: 62px;
}
.postContent > p {
  margin: 14px;
  color: white;
}
.reaction {
  flex: 0.1;
  margin: 5px;
  margin-top: 0px;

  border-top: 1px solid #ffffff42;
  color: white;
  text-align: right;
  padding-right: 10px;
  padding-top: 7px;
  margin-left: 62px;
}

input {
  width: 50%;
  height: 6vh;
  border-radius: 24px;
  background-color: transparent;
  border: 1px solid white;
  margin: 10px 0px;
  padding-left: 19px;
  flex: 1;
}

form {
  display: flex;
}

.connected {
  margin-left: 5px;
  height: 10px;
  width: 10px;
  background-color: #1fc31f;
  border-radius: 50%;
  display: inline-block;
}

.nom {
  flex: 0.5;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}
.sidebarElement {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid;
}
